/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}



/* Gallery CSS*/

.thumbnail {
  border: 0px;
  position: relative;
  padding: 50px;
  border-radius: 0;
  margin-bottom:50px;
}

.thumbnail img {
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 100%;
}

.title,
.date {
  color: #444;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.date {
  color: #a3a3a3 ;
  font-size: 14px;
  font-weight: 200;
}

.price {
  background-color: #39D1B4 ;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-weight: 200;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  position: absolute;
  top: -10px;
  right: 20px;
}

.rating {
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 30px 0 -30px 20px;
}

.likes,
.dislikes {
  background: #F65A5B ;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
  color: #F65A5B ;
  background: rgba(246, 90, 91, 0.25);
  transition: background 500ms;
}

/*Post Form*/
.well-social-post {
  border-radius: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding:0;
}

.well-social-post .glyphicon,
.well-social-post .fa,
.well-social-post [class^='icon-'],
.well-social-post [class*='icon-'] {
  font-weight: bold;
  color: #999999;
}

.well-social-post a,
.well-social-post a:hover,
.well-social-post a:active,
.well-social-post a:focus {
  text-decoration: none;
}

.well-social-post .list-inline {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.well-social-post .list-inline li {
  position: relative;
}

.well-social-post .list-inline li.active::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: "";
  top: 30px;
  left: 50%;
  left: -webkit-calc(50% - 5px);
  left: -moz-calc(50% - 5px);
  left: calc(50% - 5px);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #dddddd;
}

.well-social-post .list-inline li.active a {
  color: #222222;
  font-weight: bold;
}

.well-social-post .form-control {
  width: 100%;
  min-height: 100px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.well-social-post .list-inline {
  padding: 10px;
}

.well-social-post .list-inline li + li {
  margin-left: 10px;
}

.well-social-post .post-actions {
  margin: 0;
  background-color: #f6f7f8;
  border-top-color: #e9eaed;
}